<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.READ_MEDIA_IMAGES"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.UesApp"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".WelcomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SemesterAllDepartments.BIO.BioY1Activity"
            android:exported="true">
        </activity>
        <activity
            android:name=".SemesterAllDepartments.EE.EEY3Activity"
            android:exported="true">
        </activity>
        <activity
            android:name=".SemesterAllDepartments.EE.EEY2Activity"
            android:exported="true">
        </activity>
        <activity
            android:name=".SemesterAllDepartments.EE.EEY1Activity"
            android:exported="true">
        </activity>
        <activity
            android:name=".SemesterAllDepartments.TEE.TeeY4Activity"
            android:exported="true">
        </activity>
        <activity
            android:name=".SemesterAllDepartments.TEE.TeeY3Activity"
            android:exported="true">
        </activity>
        <activity
            android:name=".SemesterAllDepartments.TEE.TeeY2Activity"
            android:exported="true">
        </activity>
        <activity
            android:name=".SemesterAllDepartments.TEE.TeeY1Activity"
            android:exported="true">
        </activity>
        <activity
            android:name=".SemesterAllDepartments.BIO.BioY4Activity"
            android:exported="true">
        </activity>
        <activity
            android:name=".SemesterAllDepartments.BIO.BioY3Activity"
            android:exported="true">

        </activity>
        <activity
            android:name=".SemesterAllDepartments.BIO.BioY2Activity"
            android:exported="true">
        </activity>
        <activity
            android:name=".SemesterAllDepartments.EE.EEY4Activity"
            android:exported="true">
        </activity>
        <activity
            android:name=".SemesterAllDepartments.SCA.ScaY4Activity"
            android:exported="true">
        </activity>
        <activity
            android:name=".SemesterAllDepartments.SCA.ScaY3Activity"
            android:exported="true">
        </activity>
        <activity
            android:name=".SemesterAllDepartments.SCA.ScaY2Activity"
            android:exported="true">
        </activity>
        <activity
            android:name=".SemesterAllDepartments.SCA.ScaY1Activity"
            android:exported="true">
        </activity>
        <activity
            android:name=".SemesterAllDepartments.ITE.IteY4Activity"
            android:exported="false" />
        <activity
            android:name=".SemesterAllDepartments.ITE.IteY3Activity"
            android:exported="true">
        </activity>
        <activity
            android:name=".SemesterAllDepartments.ITE.IteY2Activity"
            android:exported="true">
        </activity>
        <activity
            android:name=".SemesterAllDepartments.ITE.IteY1Activity"
            android:exported="true">
        </activity>
        <activity
            android:name=".SemesterAllDepartments.ScaEGActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".SemesterAllDepartments.BioEgActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".SemesterAllDepartments.EEEgActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".SemesterAllDepartments.IteEGActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".SemesterAllDepartments.TeeEgActivity"
            android:exported="true">
        </activity>
         <!-- Other activities should not have MAIN/LAUNCHER intent filters -->
        <activity
            android:name=".Departments.TEEActivity"
            android:exported="true" />
        <activity
            android:name=".Departments.SCAActivity"
            android:exported="true" />
        <activity
            android:name=".Departments.BIOActivity"
            android:exported="true" />
        <activity
            android:name=".Departments.ITEActivity"
            android:exported="true" />
        <activity
            android:name=".Register.signupActivity"
            android:exported="true" />
        <activity
            android:name=".Register.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".Departments.DEEActivity"
            android:exported="true" />
        <activity
            android:name=".FormRegisterStudy.SiActivity"
            android:exported="false" />
        <activity
            android:name=".FormRegisterStudy.PgiActivity"
            android:exported="false" />
        <activity
            android:name=".FormRegisterStudy.SchoolinformationActivity"
            android:exported="false" />
        <activity
            android:name=".FormRegisterStudy.UploadActivity"
            android:exported="false" />
        <activity
            android:name=".View.ViewAlluseActivity"
            android:exported="true" />
        <activity
            android:name=".View.ViewUserActivity"
            android:exported="true" />
    </application>

</manifest>